<div class="form-section">
  <div class="form">
    <h2>Modifier Secrétaire</h2>
    <form (ngSubmit)="handleUpdate()">
      <div class="form-group-row">
        <div class="form-group">
          <label for="nom">Nom</label>
          <input
            type="text"
            id="nom"
            placeholder="Nom"
            [(ngModel)]="secretaire.nom"
            name="nom"
            required
          />
        </div>
        <div class="form-group">
          <label for="prenom">Prénom</label>
          <input
            type="text"
            id="prenom"
            placeholder="Prénom"
            [(ngModel)]="secretaire.prenom"
            name="prenom"
            required
          />
        </div>
      </div>
      <div class="form-group-row">
        <div class="form-group">
          <label for="tel">Numéro de téléphone</label>
          <input
            type="text"
            id="tel"
            placeholder="Numéro de téléphone"
            [(ngModel)]="secretaire.tel"
            name="tel"
            required
          />
        </div>
        <div class="form-group">
          <label for="email">Adresse email</label>
          <input
            type="email"
            id="email"
            placeholder="Adresse email"
            [(ngModel)]="secretaire.email"
            name="email"
            required
          />
        </div>
      </div>
      <button type="submit" class="submit-btn">Mettre à jour</button>
    </form>
  </div>
</div>
