<div class="container">
  <h2>Affecter une Secrétaire à un Médecin</h2>

  <!-- Message de succès/erreur -->
  <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

  <form (ngSubmit)="affecterSecretaire()">
    <div class="form-group">
      <label for="medecin">Médecin :</label>
      <select
        id="medecin"
        [(ngModel)]="selectedMedecinId"
        name="medecin"
        required
      >
        <option *ngFor="let medecin of medecins" [value]="medecin.id">
          {{ medecin.nom }} {{ medecin.prenom }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="secretaire">Secrétaire :</label>
      <select
        id="secretaire"
        [(ngModel)]="selectedSecretaireId"
        name="secretaire"
        required
      >
        <option *ngFor="let secretaire of secretaires" [value]="secretaire.id">
          {{ secretaire.nom }} {{ secretaire.prenom }}
        </option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Affecter</button>
  </form>
</div>
<div>
<h3>Liste des Affectations</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Médecin</th>
        <th>Secrétaire</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let affectation of affectations">
        <td>{{ affectation.nom}} {{ affectation.prenom}} </td>
        <td>{{ affectation.secretaireId.nom}} {{ affectation.secretaireId.prenom}}</td>
      </tr>
    </tbody>
  </table>
</div>