<div class="container">
  <h2>Gérer les médecins</h2>
 
  <a routerLink="/ajout-medecin" routerLinkActive="active" class="reg-button">Ajouter un médecin</a>

  

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Numéro de téléphone</th>
        <th>Email</th>
        <th>Spécialité</th>
        <th>Description</th>
        <th>Langues</th>
        <th>Modifier</th>
        <th>Supprimer</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let medecin of medecins">
        <td>{{ medecin.id }}</td>
        <td>{{ medecin.nom }}</td>
        <td>{{ medecin.prenom }}</td>
        <td>{{ medecin.tel }}</td>
        <td>{{ medecin.email }}</td>
        <td>{{ medecin.specialite }}</td>
        <td>{{ medecin.description }}</td>
        <td>{{ medecin.langues?.length ? medecin.langues.join(', ') : 'N/A' }}</td>
        <td>
          <button class="update-button" (click)="navigateToUpdate(medecin.id)"> ✏️</button>
        </td>
        <td>
          <button class="delete-button" (click)="deleteMedecin(medecin.id)">🗑️</button>
          
        </td>
        <td> <button  class="fas fa-plus"(click)="assignSecretaire(medecin)">Affecter Secrétaire</button></td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
</div>
